---
---

@import "type-on-strap";


.btn-navbar {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff; /* Change to your preferred color */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btn-navbar:hover {
    background-color: #0056b3; /* Darker color on hover */
  }